body{
    background-image: url("images/background.png");
    width: 30%;
    margin: auto;
    border: 1px solid rgb(255, 0, 234);
    height: 30%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 20px;
    text-align: center;
}
img{
   opacity: .9;
   margin: auto;
   align-items: center;
}

h1#Pag{
    
}

div.poipo{
    display: flex;
    flex-direction: column;
}